[[source]]
url = 'https://github.com/Julien-404/lametric-travys'
verify_ssl = false
name = 'lametricTravys'

[requires]
python_version = '3.6'

[packages]
flask = '>0.12'
urllib3 = '>1.5'
gunicorn = '>19.7'